@model IEnumerable<DataLayer.BlogPost>
@{
    ViewBag.Title = "Home Page";
}

<style>
    #wrapper {
        overflow: auto;
    }

    #trends {
        margin-right: 5%;
        height: 750px;
        width: 15%;
        background-color: Highlight;
        float:right;
    }

    #trend{
        text-align:center;
        font-size:large;
    }

    #trends_label {
        margin-left: 10%;
        margin-right:10%;
        font:bold 200;
    }

    #recommendations{
        margin-right: 6%;
        float:right;
        height: 750px;
        width: 14%;
        background-color: Highlight;
        margin-left:2%;
    }


</style>

<div id="wrapper">
    <h3> is the home page of blog#.  Welcome!</h3>
    <h2><span class="label label-default">Todays Blogposts</span></h2>
    <div id="testlist" style="width:55%; float:left">
        @foreach (DataLayer.BlogPost temp in Model)
        {
            if (temp.dateCreated.Date == DateTime.Today)
            {
            <a href="@Url.Action("Details", "Blog", new { id = temp.Id })" class="list-group-item">
                <h4 class="list-group-item-heading">@Html.DisplayFor(model => temp.title)</h4>
                <p class="list-group-item-text">Author: @Html.DisplayFor(model => temp.person.FirstName)  @Html.DisplayFor(model => temp.person.LastName)     Blog Name:@Html.DisplayFor(model => temp.person.blogName)</p>
            </a>
            }

        }
            </div>
    <div id="trends">
        <h3 id="trends_label">Daily Trends</h3>
        @foreach(string trend in ViewBag.trends)
        {

           <p id="trend"><span class="label label-primary"><a style="color:aliceblue" href="@Url.Action("Search","Blog",new { s = trend })">@trend</a></span></p>

        }
    </div>
    
    @if (ViewBag.recommendations != null)
    {
        <div id="recommendations">
            <h3 id="recommendations_label" style="text-align:center">People to Follow</h3>
            @foreach (KeyValuePair<int, string> person in ViewBag.recommendations)
            {
                <p id="person"><span class="label label-primary"><a style="color:ghostwhite" href="@Url.Action("Profile","Blog",new { id = person.Key })">@person.Value</a></span></p>
            }
        </div>
    }
    
</div>
