@model DataLayer.BlogPost

@{
    ViewBag.Title = "Details";
}

<style>
    #contentContainer {
        border-style: groove;
    }
</style>


<h2>@Html.DisplayFor(model => model.title)</h2>
<div>
    <h4>by @Html.ActionLink(Html.DisplayFor(model => model.person.FirstName) + " " + Html.DisplayFor(model => model.person.LastName), "Profile", "Blog", new { id = Model.person.Id }, new { @class = "btn-default" })</h4>
    <h7>on @Html.DisplayFor(model => model.dateCreated)</h7>
    <hr />
    <dl class="dl-horizontal">
        <dd id="contentContainer">
            @Html.DisplayFor(model => model.content, new { cols = 100, @rows = 50 })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tags)
        </dt>

        <dd>
            @foreach (var tag in Model.tags)
            {
                @Html.ActionLink(@tag.tagName, "Search", "Blog", new { s = @tag.tagName }, new { @class = "btn-default" })
                <b> </b>
            }
        </dd>

    </dl>
</div>
<p>
    @if (ViewBag.userID == Model.PersonId)
    {
        @Html.ActionLink("Edit", "Edit", "Blog", new { id = Model.Id })
    }
</p>
