@model DataLayer.Person

@{
    ViewBag.Title = "Profile";
    DataLayer.Person curruser = ViewBag.CurrUser;
}

<script>
    $(function () {
        $('[data-toggle="popover"]').popover({ html: true, content: function() {
            return $(this).next('.popper-content').html();
        } })
    });
   
</script>

<script>
    function updateBio(newInfo) {

    }
</script>
<style>
    #banner {
        background-image: url(http://bgfons.com/upload/light_texture2269.jpg);
        display: block;
    }

    #followers {
        margin-left: 35%;
        overflow-y:auto;
    }

    #bio {
        max-width: 60%;
        padding-left: 35%;
        
    }

    #tags {
        margin-left: 67%;
    }

    #rating {
        margin-left: 5%;
    }

    #follow {
        margin-left: 5%;
        margin-top: 2%;
    }

    #Create {
        margin-left: 5%;
        margin-top: 2%;
    }

    #unfollow {
        margin-left: 5%;
        margin-top: 2%;
    }

    #blogs {
        margin-top: 2%;
    }

    #bloggerOptions {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    #Create {
        display: inline-block;
        float:left;
    }

    #EditBio {
        display: inline-block;
        float: right;
        padding-top: 12px;
        padding-right: 28px;
    }

    
</style>
&nbsp;

<div id="banner">
    <div id="followers" class="label label-pill label-default" data-container="body"
        data-toggle="popover" title="Followers" data-placement="bottom">Followers @Html.DisplayFor(model=> model.followers.Count)</div>
    <div class="popper-content hide" id="follower_popover_content_wrapper" style="display: none;height:50px;overflow:scroll;">
        <div>
            <ul>
                @foreach (DataLayer.Person p in Model.followers)
                {
                <li><a href="@Url.Action("Profile","Blog", new { id = p.Id })">@(p.FirstName+" "+p.LastName) </a> </li>

                }
            </ul>
        </div>
    </div>
     

    <img class="img-circle" src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/69263/profile/profile-512_2.jpg" alt="Circle image" style="width:105px;height:105px">
   
    <span id="following" class="label label-pill label-default"  data-container="body"
        data-toggle="popover" title="Followers" data-placement="bottom">Following @Html.DisplayFor(model=>model.following.Count)</span>
    <div class="popper-content hide" id="follower_popover_content_wrapper" style="display: none;height:50px;overflow:scroll;">
        <div>
            <ul>
                @foreach (DataLayer.Person p in Model.following)
                {
                    <li><a href="@Url.Action("Profile","Blog", new { id = p.Id })">@(p.FirstName + " " + p.LastName) </a> </li>

                }
            </ul>
        </div>
    </div>

    <h3 style="padding-left:39%">@Html.DisplayFor(model => model.blogName)</h3>
    <div id="bio">
        <p>@Model.bio</p>
    </div>

    <br />
    <label id="rating">RATING @ViewBag.AvgRating</label>
    <label id="tags"> COMMON TAGS: @foreach (String tag in ViewBag.cTags) {@(tag+", ");}</label>
</div>
@if (curruser == null)
{
    if (!Model.isPrivate)
    {
    <div class="list-group" id="blogs">
        @{ var posts = Model.posts.OrderByDescending(blog => blog.dateCreated); }
            @foreach (var post in posts)
            {
                <a href="@Url.Action("Details", "Blog", new { id = post.Id })" class="list-group-item">
                    <h4 class="list-group-item-heading">@Html.DisplayFor(model => post.title)</h4>
                    @if (post.content.Length > 10)
                    {
                        <p class="list-group-item-text">@post.content.Substring(0, 10) ......</p>}
                    else
                    {
                        <p class="list-group-item-text"> @post.content</p>
                    }
                </a>
            }



</div>
    } else
    {
        <p> This User is Private. Please log in and follow them to view their posts. </p>
    }
    }
else {
if (curruser.Id == Model.Id)
{
    <div id="bloggerOptions">

        <form id="Create">
            <button type="submit" formaction="@Url.Action("Create")" class="btn btn-primary" id="create">New Blog Post</button>
        </form>

        <form id="EditBio">
            <button class="btn btn-primary" formaction="@Url.Action("EditBio", new { id = Model.Id })" id="editbio">Edit bio</button>
        </form>
    </div>

}

else if (curruser.following.Contains(Model))
{
    <form id="unfoll">

        <button type="submit" formaction="@Url.Action("UnFollow", new { id = Model.Id })" class="btn btn-primary" id="unfollow">Unfollow</button>
    </form>
}
else
{
<form id="foll" >
    
    <button type="submit" formaction="@Url.Action("Follow", new { id = Model.Id })" class="btn btn-primary" id="follow">Follow</button>
</form>
}
if (Model.isPrivate && !curruser.following.Contains(Model) && curruser.Id != Model.Id)
{
    <p> This user is private. Please follow them to view their posts. </p>
}
else {
<div class="list-group" id="blogs">
    @foreach (var post in Model.posts)
    {
    <a href="@Url.Action("Details", "Blog", new { id = post.Id })" class="list-group-item">
        <h4 class="list-group-item-heading">@Html.DisplayFor(model => post.title)</h4>
        @if (post.content.Length > 10)
        {
        <p class="list-group-item-text">@post.content.Substring(0, 10) ......</p>}
        else
        {
            <p class="list-group-item-text"> @post.content</p>
        }
</a>
    }


</div>
}
}

