@model IEnumerable<DataLayer.BlogPost>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>



    <h3>Posts: </h3>
    @if (ViewBag.posts != null)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.person.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.title)
                </th>

                <th></th>
            </tr>
            </table>
        foreach (DataLayer.BlogPost item in ViewBag.posts)
        {
            <table>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.person.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>

                    <td>
                        @Html.ActionLink("Details", "Blog", new { id = item.Id })
                    </td>
                </tr>
            </table>
        }
    }
            <h3>People: </h3>
            @if (ViewBag.people != null)
            {
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.person.FirstName)
                        </th>
                       </tr>
                    </table>
                   foreach (DataLayer.Person person in ViewBag.people)
                    {
                    <table>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => person.FirstName)
                        </td>
                    </tr>
                        </table>
                    }
                    }

                    @if (ViewBag.people == null && ViewBag.posts == null)
                    {
                        <h4> No Search Results</h4>
                    }

         
