@model IEnumerable<DataLayer.BlogPost>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.person.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.person.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
       
        <td>
            @Html.ActionLink("Details", "BlogPost", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
