@model IEnumerable<DataLayer.BlogPost>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>



    
    @if (ViewBag.posts != null)
    {
        <h3>Posts: </h3>
        foreach (DataLayer.BlogPost item in ViewBag.posts)
        {
            <a href="@Url.Action("Details", "Blog", new { id = item.Id })" class="list-group-item">
                <h4 class="list-group-item-heading">@Html.DisplayFor(model => item.title)</h4>
                <p class="list-group-item-text">Author: @Html.DisplayFor(model => item.person.FirstName)  @Html.DisplayFor(model => item.person.LastName)     Blog Name:@Html.DisplayFor(model => item.person.blogName)</p>
            </a>
           
        }
    }
            
            @if (ViewBag.people != null)
            {
                <h3>People: </h3>
                
                   foreach (DataLayer.Person person in ViewBag.people)
                    {
                    <a href="@Url.Action("Profile", "Blog", new {id = person.Id})" class="list-group-item">
                        <p class="list-group-item-text">@Html.DisplayFor(model => person.FirstName)  @Html.DisplayFor(model => person.LastName)     Blog Name:@Html.DisplayFor(model => person.blogName)</p>

                    </a>
                    }
                    }

@if (ViewBag.blogs != null)
{
    <h3>Blogs: </h3>
    foreach (DataLayer.Person item in ViewBag.blogs)
    {
        <a href="@Url.Action("Profile", "Blog", new { id = item.Id })" class="list-group-item">
            <p class="list-group-item-text"> @Html.DisplayFor(model => item.blogName)  </p>
        </a>
    }
}

@if (ViewBag.people == null && ViewBag.posts == null)
{
                        <h4> No Search Results</h4>
                    }

         
